<div class='row'>
  <div class='col-xs-3'>
    <h2>Parent Foreign Keys <small>({{table.foreignKeyReferences.length}})</small></h2>
    <div ng-repeat='foreignKey in table.foreignKeyReferences'
         class='foreign-key'>
      <h3>
        <a ui-sref='app.table.view({name: foreignKey.parent_table})'>
          <i class='fa fa-table'></i>&nbsp;{{foreignKey.parent_table}}
        </a>
      </h3>
      <p>Key name: {{foreignKey.fkey_constraint}}</p>
      <p>On Delete: {{foreignKey.delete_rule}}</p>
      <p>On Update: {{foreignKey.update_rule}}</p>
      <ul class='fa-ul'>
        <li ng-repeat='mapping in foreignKey.columns'>
          <i class='fa-li fa fa-columns'></i> {{mapping.parent}} <i class='fa-fw fa fa-long-arrow-left'></i> {{mapping.child}}
        </li>
      </ul>
    </div>
  </div>

  <div class='col-xs-6'>

    <pulldown pulldown-model='tablesPulldown' style='display:block;'>
      <pulldown-anchor>
        <h2>
          <i class='fa fa-table'></i>
          {{table.name}}
          <button class='btn btn-default pull-right'
                  ng-click='tablesPulldown.toggle()'>
            <i class='fa fa-fw' ng-class='{
                  "fa-chevron-up":    tablesPulldown.expanded,
                  "fa-chevron-down": !tablesPulldown.expanded
                }'></i>
            Jump to table
          </button>
        </h2>
      </pulldown-anchor>
      <pulldown-pane>
        <h4>Tables</h4>
        <div style='column-count:4;'>
          <ul class='fa-ul'>
            <li ng-repeat='tableName in tables'>
              <a ui-sref='app.table.view({name: tableName})'
                 class='pointer'>
                <i class='fa fa-li fa-table'></i>{{ tableName }}
              </a>
            </li>
          </ul>
        </div>
      </pulldown-pane>
    </pulldown>


    <auto-table data='table.columns'
                columns='columnTableColumns'
                ></auto-table>

    <!--
    <pulldown button-text='Show Fields...'
              class='pull-right'
              anchor='right'
              pane-style='max-height:300px;
                          min-width:300px;
                          overflow-y:scroll;
                          '
              >
      <a style='cursor:pointer;' ng-click='showAll()'>Show All</a> |
      <a style='cursor:pointer;' ng-click='showDefaults()'>Show Defaults</a>

      <div ng-repeat='column in columnTableColumns'>
        <label style='cursor:pointer;'>
          <input type='checkbox'
                 ng-model='column.disabled'
                 ng-init='column.disabled = !!column.disabled'
                 ng-true-value='false'
                 ng-false-value='true'
                 />&nbsp;{{ column.label || column.key }}
        </label>
      </div>
    </pulldown>
    -->

    <pulldown pulldown-model='tablePreviewColumnsPulldown' style='display:block;'>
      <pulldown-anchor>
        <div class='form-inline pull-right'>
          <label>
            Limit to
            <input type='number'
                   class='form-control'
                   ng-model='tablePreviewRowLimit.value' />
            rows
          </label>
          <button class='btn btn-default'
                  ng-click='refreshTablePreview()'>
            <i class='fa fa-refresh'></i>
            Refresh
          </button>
          <button class='btn btn-default'
                  ng-click='tablePreviewColumnsPulldown.toggle()'>
            <i class='fa fa-fw' ng-class='{
                  "fa-chevron-up":    tablePreviewColumnsPulldown.expanded,
                  "fa-chevron-down": !tablePreviewColumnsPulldown.expanded
                }'></i>
            Show/hide columns
          </button>
        </div>
        <h3 class='display:inline;'>Data</h3>
      </pulldown-anchor>
      <pulldown-pane style='min-width:auto;right:0;'>
        <a ng-click='resetColumns()' class='pointer'>Reset</a>
        <ul class='fa-ul'>
          <li ng-repeat='column in tablePreviewColumns track by $index'>
            <label class='pointer'>
              <input type='checkbox'
                     class='fa-li'
                     ng-model='column.disabled'
                     ng-init='column.disabled = !!column.disabled'
                     ng-true-value='false'
                     ng-false-value='true'
                     />
              <a ng-click='tablePreviewColumns.splice($index, 1); tablePreviewColumns.splice($index-1, 0, column)'><i class='fa fa-caret-up'></i></a>
              <a ng-click='tablePreviewColumns.splice($index, 1); tablePreviewColumns.splice($index+1, 0, column)'><i class='fa fa-caret-down'></i></a>
              {{ column.label || column.key }}
            </label>
          </li>
        </ul>
      </pulldown-pane>
    </pulldown>


    <auto-table data='tablePreviewRows'
                columns='tablePreviewColumns'
                ></auto-table>

  </div>
  <div class='col-xs-3'>
    <h2>Child Foreign Keys <small>({{table.foreignKeys.length}})</small></h2>
    <div ng-repeat='foreignKey in table.foreignKeys'
         class='foreign-key'>
      <h3>
        <a ui-sref='app.table.view({name: foreignKey.child_table})'>
          <i class='fa fa-table'></i>&nbsp;{{foreignKey.child_table}}
        </a>
      </h3>
      <p>Key name: {{foreignKey.fkey_constraint}}</p>
      <p>On Delete: {{foreignKey.delete_rule}}</p>
      <p>On Update: {{foreignKey.update_rule}}</p>
      <ul class='fa-ul'>
        <li ng-repeat='mapping in foreignKey.columns'>
          <i class='fa-li fa fa-columns'></i> {{mapping.parent}} <i class='fa fa-long-arrow-left'></i> {{mapping.child}}
        </li>
      </ul>
    </div>
  </div>
</div>

